/cmake-build-release/CMakeFiles/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/OpenGLtest.cbp
/cmake-build-release/OpenGLtest.exe
/cmake-build-release/OpenGLtest.cbp
/cmake-build-release/mine++.cbp
/cmake-build-release/libOpenGLtest.dll.a
/cmake-build-release/CMakeCache.txt
/cmake-build-release/cmake_install.cmake
/cmake-build-debug/mine++.cbp
/cmake-build-debug/map.world
/cmake-build-debug/Makefile
/cmake-build-release/Makefile
/cmake-build-debug/cat.png
/cmake-build-debug/grass.png
/cmake-build-debug/stone.png
/cmake-build-debug/mine++.zip
/cmake-build-release/cat.png
/cmake-build-release/grass.png
**/.idea/
/stb_image.h
/lib/
/cmake-build-release/bin/
/cmake-build-release/glew/
/cmake-build-release/glfw/
/cmake-build-release/imgui/
/cmake-build-release/lib/
/cmake-build-release/imgui.ini
/cmake-build-release/map.world
/cmake-build-release/mine++.zip
/cmake-build-release/Mine++Resources.zip
